body,html
{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.page{
    display: flex;
    flex-grow: 1;
    background-image: url("https://learn.anbg.gov.au/static/bg-d9a0668ef356c825cce162539421b497.png");
    background-repeat: repeat;
}